/* Initializing.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--vscode-button-background);
  will-change: transform;
}
